<h1>You are not alone...</h1>
<h2>Here's a list of Urban Monkeys.
<table>
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<% for user in @users %>
		 <tr>
		 	<td><%= link_to user.name, user_path(user)%></td>
		 </tr>
		<% end %>
	</tbody>
</table>
