<a class="btn btn-large btn-success" href="<%= new_gym_path %>">Add an Urban Gym</a>
<h2><font size='5'>Check out the top Urban Gyms in town.</font></h2>
<table>
	<thead></thead>
	<tbody>
		<% for gym in @gyms %>
		 <tr>
		 	<td><%= link_to gym.full_street_address, gym_path(gym)%></td>
		 </tr>
		<% end %>
	</tbody>
</table>
