<a class="btn btn-large btn-success" href="<%= new_exercise_path %>">Add an Exercise</a> 
<h2>Here's a list of all the exercises.
<table>
	<thead></thead>
	<tbody>
		<% for exercise in @exercises %>
		 <tr>
		 	<td><%= link_to exercise.name, exercise_path(exercise)%></td>
		 </tr>
		<% end %>
	</tbody>
</table>
