<h1>Urban Workout</h1>
<p>Name: <%= @exercise.name %></p>
<p>Description: <%= @exercise.description %></p>
<p><iframe width="560" height="315" src="<%= @exercise.video_url %>" frameborder="0" allowfullscreen></iframe></p>


