<h1><font size='5'><%= @exercise.name %></font></h1>
<p>Description: <%= @exercise.description %></p>
<p><iframe width="560" height="315" src="<%= @exercise.video_url %>" frameborder="0" allowfullscreen></iframe></p>


