<h1><font size='5'>About</font></h1>
<p>Urban Monkey developed around the idea of the street workout. This movement is based on exercising by using public facilities, such as equipment in schoolyards or parks. The movement supports healthy living through readily available and financially inexpensive means. It is a combination of athletics, calisthenics, parkour, and sports. Street Workout is modern name for bodyweight workout / extreme calisthenics in outdoor parks.</p>

<p>Most popular exercises are Pull-ups, Chin-ups, Push-ups, Dips, Muscle-Ups, Sit-Ups, Crunches, etc... Street workout also involves some static holds like Human flag, Front and Back lever, Planche, etc...</p>

<p>Street workouts are extremely popular among younger generations. It's very attractive and completely free! Part of the popularity comes from ability to build a great physique and the other part is that it promotes healthy and sociable lifestyle.</p>

<h2><font size='4'>Mission Statement</font></h2>
<p>To build a community of street workout enthusiasts. To educate and introduce them to the worlds of calisthenics, gymnastics, athletics, parkour and many other disciplines. To provide enthusiasts with a maps platform that locates urban gyms in their vecinity. To show the world that gym memberships, stairclimbers and 5 day split routines are overrated.</p>