<h1>About</h1>
<p>Urban Gym exercises are strength training exercises that do not require free weights; the practitioner's own weight provides the resistance for the movement. Movements such as the push-up, the pull-up, and the sit-up are some of the most common bodyweight exercises.
In general, increasing the amount of repetitions will focus on improving endurance, while strength gains are made through increasing the intensity of the exercise through decreasing leverage and working at the ends of range of motion</p>

